/* Container for tab 1 */
/* Container for the tabs in the footer */

/* Container for tab 1 */
#tab1-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr; /* Each row will take up an equal fraction of the height */
    height: 80vh; /* Full height of the viewport */
    width: 100%; /* Full width of the viewport */
    margin-top: 60px;
}

.grid-item {
    background-color: #f0f0f0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#bottom-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;

}

/* Container for the coin image */
#image-container {
    
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px; /* Space between image and energy bar */
}

/* Styling for the clickable coin */
#clickable-coin {
    background: none;
    border: none;
}

/* Styling for the coin image */
#clickable-coin img {
    width: 80%; /* Width relative to the viewport */
    max-width: 300px; /* Maximum width */
    display: block;
    margin: 0 auto; /* Center horizontally */
    transition: transform 0.3s ease; /* Smooth scale transition */
}

/* Scale up effect on click */
#clickable-coin img.clicked {
    transform: scale(1.1);
}


/* Feedback animation */
.feedback {
    position: absolute;
    font-size: 2rem;
    color: #000; /* Black color */
    pointer-events: none;
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
    transform: translateY(0) scale(1);
    opacity: 0; /* Initially hidden */
}

.feedback.show {
    opacity: 1; /* Visible */
    transform: translateY(-140px) scale(1.2); /* Move and scale up */
}

.feedback.hidden {
    opacity: 0; /* Hidden */
    transform: translateY(-140px) scale(1.2); /* Keep moved-up position */
}

/* Energy bar container */
#energy-bar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    position: relative; /* Ensure it is placed correctly */
    margin-bottom: 60px; /* Space between energy bar and footer */
}

/* Styling for the energy bar */
#energy-bar {
    width: 100%;
    max-width: 500px; /* Maximum width */
    height: 20px;
    background-color: #ddd; /* Light grey background */
    overflow: hidden;
    margin-bottom: 10px; /* Space below the bar */
}

/* Fill of the energy bar */
#energy-fill {
    height: 100%;
    background: linear-gradient(90deg, #76c7c0, #34a0a4); /* Gradient effect */
}

/* Container for energy value */
#energy-value-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Styling for energy value text */
#energy-value {
    font-size: 18px; /* Slightly larger font size for better readability */
    color: #333; /* Darker text color for contrast */
}