#tab1-container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 10px; /* Add padding to avoid overlap with header and footer */
}

#image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px; /* Add some space between the image and the energy bar */
}

#clickable-coin {
    background: none;
    border: none;

}

#clickable-coin img {
    width: 80%; /* Adjust width to 80% of the viewport */
    max-width: 300px; /* Optional: Set a maximum width */
    display: block;
    margin: 0 auto; /* Center the image horizontally */
    transition: transform 0.3s ease; /* Smooth transition for scaling */
    transform: scale(1); /* Default scale */
    
}

#clickable-coin img.clicked {
    transform: scale(1.1); /* Scale up effect when clicked */
}

.feedback {
    position: absolute;
    font-size: 2rem;
    color: black;
    pointer-events: none;
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
    transform: translateY(0) scale(1); /* Start at the original position */
    opacity: 0; /* Start hidden */
}

.feedback.show {
    opacity: 1; /* Make it visible */
    transform: translateY(-140px) scale(1.2); /* Move up and scale up */
}

.feedback.hidden {
    opacity: 0; /* Fade out */
    transform: translateY(-140px) scale(1.2); /* Keep it in the moved-up position */
}



#energy-bar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
}

#energy-bar {
    width: 100%;
    max-width: 500px; /* Limit the maximum width of the energy bar */
    height: 20px;
    background-color: #ddd;
    border-radius: 0px;
    overflow: hidden;
    margin-bottom: 10px; /* Add some space between the bar and the value */
}

#energy-fill {
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, #76c7c0, #34a0a4); /* Gradient effect */
    border-radius: 0px;
}


#energy-value-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#energy-value {
    font-size: 16px; /* Slightly larger for better readability */
}